@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@import "./variables.scss";

@import "bulma/bulma.sass";
